h1{
    border: solid ;
    border-radius: 20;
    border-color: green;
    font-size: 30px;
    padding-left: 350px;
}
body{

}

#school{
    font-size: 30px;
    
}
a{
    
    padding-left: 300px;
    margin-left:;
}





