#wthses{
    border:solid ;
    border-radius: 20;
    border-color: green;
    font-size: 30px;
    padding-left: 350px;
}
#home{
 background-color: orange;
}

#school{
    font-size: 30px;
    
}
a{
    background-color: black;
    padding-left: 200px;
    padding-right: 190px; 
}

#school{
    font-family: Times; 
    border: solid;
    border-bottom-color:black;
    padding-left: 40px; 
}
#abt{
    background-color: green;
    padding-left: 200px;
    border-radius: 10px; 
    
}
#about{
    background-image: url(https://media.giphy.com/media/UHKL9BtyM4WrK/giphy.gif);
    
    background-size: 35%; 
    background-position: center center;    
  /*  height: 100vh; <- Not necessary */ 
    
}
h2{
    color: red;
}
#moreabt{
    
}


/* display: inline-block */ 